.App {
    text-align: center;
    padding: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #282c34;
    padding: 10px 20px;
  }
  
  .navbar h2 {
    color: #61dafb;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
  }
  
  .navbar a {
    color: #ffffff;
    text-decoration: none;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #61dafb;
    border: none;
    cursor: pointer;
  }
  